.phone-preview {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-self: center;
}
.add-save-btns {
  align-self: center;
}
/* if we want to play with height */
/* .phone-preview div {
  height: 720px;
} */