
.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-signup label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

form input {
  border: none;
  border-radius: 20px;
  padding: 6px 8px;
}

form button {
  color: #F4DB26;
  background-color: #1A072A;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
	border: none;
	font-weight: 700;
	cursor: pointer;
	outline: inherit;
  padding: 8px 75px;
  border-radius: 20px;
}
.activeTab {
  border-bottom: 5px solid #1A072A;
}