
.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-signup label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

form input {
  border: none;
  border-radius: 20px;
  padding: 6px 8px;
}

form button {
  color: #F4DB26;
  background-color: #1A072A;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 8px 80px;
  border-radius: 20px;
}
.activeTab {
  border-bottom: 5px solid #1A072A;
}