ol, ul, menu {
  list-style: none;
}
.auth-tabs {
  display: flex;
  flex: row;
  justify-content: center;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}