.canvas-btn {
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  outline: inherit;
  padding: 8px 20px;
  border-radius: 10px;
}

.addToCart-btn {
  color:#1A072A;
  background-color:  #F4DB26;
}

.save-btn {
  color: #F4DB26;
  background-color: #1A072A;
}

.picker-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.reset-btn {
  color: #1A072A;
  background-color: white;
  border:black inset;
}

.randomize-btn {
  color: #F4DB26;
  background-color: #1A072A;
}

/* btn hover & click states */
.save-btn:active, .randomize-btn:active {
  color: #1A072A;
  background-color: #F4DB26;
}
.addToCart-btn:active {
  color:#F4DB26;
  background-color: #1A072A;
}

.reset-btn:active {
  color:#FFFFFF;
  background-color: #1A072A;
  transition: transform 0.5s ease;
}

