img {
  max-width: 100%;
  display: block;
}
.nav-container {
  font-family: 'Montserrat', sans-serif;
  color: #1A072A;
}
nav {
  background-color: #F4DB26;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-container, .nav-left, .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav-container {
  /* max-width: 1200px; */
  width: 80%;
  margin: 0 auto;
  padding-top: 40px
}
.logo-img {
  height: 60px;
}
