img {
  max-width: 100%;
  display: block;
}
.nav-container {
  font-family: 'Montserrat', sans-serif;
  color: #1A072A;
  padding-top: 10px;
}
nav {
  background-color: #F4DB26;
}
a, #navlink {
  text-decoration: none;
  color: #1A072A !important;
  position: relative;
}

#navlink:hover::after {
  content: "";
  position: absolute;
  color: #1A072A !important;
  width: 100%;
  bottom: 10px;
  border: 2px solid #1A072A !important;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-container, .nav-left, .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
.nav-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 8px;
}
.logo-img-container {
  align-self: center;
}
.logo-img {
  height: 50px;
}