.saved-main {
  display: flex;
  flex-wrap: wrap;
}
.main {
  padding-top: 60px;
}
.savedPhone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-bottom: 16px
}
.savedPhone-img {
  width: 50%;
}
.product-title {
  font-size: 18px;
  font-family: 'Hind', sans-serif;
}
.product-price {
  font-size: 24px;
}