
.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.form-signup label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
    gap: 8px;
}
.form-signup-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.signup-statusMsg {
  align-self: center;
  font-weight: 700;
}