img {
  max-width: 100%;
  display: block;
}

.nav-container, nav {
  font-family: 'Montserrat', sans-serif;
  color: #1A072A;
  /* padding-top: 10px; */
}


.bg-brandYellow {
  background-color: #F4DB26;
  color: #1A072A;
}
.navlink {
  color: #1A072A !important;
  text-decoration: none;
}
.navlink .active {
  color: #1A072A !important;
  text-decoration: underline;
}
.navlink:hover {
  color:#99325F !important;
  cursor: pointer;
}
.nav-wrap {
  margin: 0 auto;
}

.logo-img {
  height: 48px;
  border-radius: 100px;
}

span {
  padding:10px;
}