
.intro-content {
  font-family: 'Hind', sans-serif;
  /* text-align: center; */
  padding-top: 40px;
}
.intro-title, .phone-container h4 {
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.phone-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
  /* width: 50%; */
}
.phone-link {
  text-decoration: none !important;
    color: #1A072A;
    cursor: pointer;
    background-color: #F4DB26;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 24px;
}
.phone-link:hover {
  color:#F4DB26 !important;
  background-color:#1A072A ;
  cursor: pointer;
}
.phone-link h4 {
  font-size: 24px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width:60%;
  /* padding-right: 50px;
  padding-left:50px; */
}
.phone-link-container {
  margin-top: 40px;
}
.phone-img-container {
  width: 80%;
}

/* responsiveness */

@media screen and (min-width: 425px) and (max-width: 768px) {
  .phone-gallery {
    flex-direction: column-reverse;
    align-items: center;

  }
  .phone-img-container {
    width: 100%;
  }

}