.canvas-main {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
.add-save-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 16px;
  /* align-self: center; */
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.canvas-middle-container {
  display: flex;
  flex-direction: column;
}