.canvas-main {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
.add-save-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-self: center;
  margin-top: 16px;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.canvas-middle-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}


.phone-preview {
  width: 400px;
}
.add-save-btns {
  align-self: center;
}